:root {
    /* Color Theme Swatches in RGBA */
    --color-darkgrey: rgba(33, 33, 33, 1);
    --color-grayblue-t: rgba(166, 175, 180, 0.5);
    --color-darkblue: rgba(64, 80, 142, 1);
    --color-darkblue-t: rgba(64, 80, 142, .5);
    --color-coral-t: rgba(255, 97, 96, .2);
    --color-coral: rgba(255, 97, 96, 1);
    --color-grey-t: rgba(240, 240, 240, .5);
    --color-grey: rgba(240, 240, 240, 1);
    --color-black: rgba(0, 0, 0, 1);
}

body {
    background-color: var(--color-grey);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 50%, rgba(255,255,255,1) 100%);
    font-family:'Playfair Display', serif;
}

#wp_title {
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-grey);
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: var(--color-coral)
}

#wp_main {
    padding: 1rem;
    resize: vertical;
}

#wp_current {
    background-color: var(--color-coral-t);
    border-radius: 1rem;
    color: var(--color-darkblue);
    padding: 2rem;
    resize: vertical;
}

#currentTemp {
    color: white;
    font-size: 7rem;
    font-weight: 900;
    -webkit-text-stroke-width: 0.3rem;
    -webkit-text-stroke-color: var(--color-coral)
} 

#wp_conditions {
    background-color: var(--color-grayblue-t);
    border-radius: 1rem;
    color: white;
    padding: 2rem;
    resize: vertical;

}

#wp_forecast {
    background-color: white;
    border-radius: 1rem;
    color: white;
    font-size: 1rem;
    padding: 2rem;
    resize: vertical;
}

#forecastTab li a.active {
    background-color: var(--color-coral);
    border-bottom-color: transparent;
    color: var(--color-grey);
    font-weight: 900;
}

#forecastTab li a {
    background-color: var(--color-grey);
    border-bottom-color: transparent;
    color: var(--color-darkblue);
    font-weight: 400;
}

#wp_footer {
    color: var(--color-darkblue);
}

#wp_footer div a {
    color: var(--color-darkblue);
}

#weatherIcon {
    max-height: 20rem;
}

#location {
    font-size: 1.5rem;
    font-weight: 900;
}

.tab-content {
    color: var(--color-darkblue);
}

.color-coral {
    color: var(--color-coral);
}
